<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <title>Document</title>
        <style>
            @media only screen and (max-width: 600px) {
                .container {
                    flex-direction: column !important;
                }
                .image-container {
                    max-width: 100% !important;
                    margin-bottom: 10px !important;
                }
            }
        </style>
    </head>
    <body style="margin: 0; font-family: 'Roboto Mono', monospace;">
        <div style="text-align: center; background-color: #000087; padding: 15px;">
            <img src="https://i.ibb.co/TPYL0K7/logo-campus-blanco.png" alt="LogoCampus" style="max-width: 100%; width: 70px; height: auto; vertical-align: middle;">
            <a href="#" style="color: white; text-decoration: none; font-size: 35px; font-family: 'Poppins'; margin: 0 15px;">Working CampusLand</a>
        </div>
        
        <div style="position: relative; background: url('https://i.ibb.co/31hK6XN/maxresdefault.png') center/cover no-repeat; color: #ffffff; padding: 100px 0; text-align: center;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
            <div style="position: relative; z-index: 1;">
                <div style="font-size: 42px; margin-bottom: 20px;">Welcome</div>
                <div style="font-size: 24px;">to Working Campusland Password Recovery System!</div>
            </div>
        </div>

        <div style="width: 100%; margin: 0 auto; background-color: #E4E4DB; padding-block: 20px;">
            <div style="max-width: 100%; padding: 20px;">
                <div style="font-size: 33px; font-family: 'Poppins'; font-weight: bold; margin-bottom: 10px; text-align: center; color: #000087;">Hello {nombre}!</div>
                <div style="font-size: 20px; text-align: center;">We noticed that you have requested to recover your Working CampusLand account password, and we are here to help you regain access to your account securely and easily.</div>
            </div>
            <div style="max-width: 100%; background: url('https://i.ibb.co/RB6sg8t/fondo1.png') center/contain no-repeat;">
                <img style="display:flex; max-width: 200px; height: auto; vertical-align: middle; margin: 0 auto;" src="https://i.ibb.co/nwC1Ygc/Astronaut-with-space-shuttle-1.gif" alt="CamperSaludando">
            </div>
        </div>

        <div style="width: 100%; margin: 0 auto; background-color: #E8F4FD; padding-block: 20px;">
            <div style="text-align: center; padding: 10px;">
                <a href="" style="color: #000087; text-decoration: none; font-size: 25px; font-family: 'Poppins'; margin: 0 15px;">To continue, please use the following access code on our website:</a>
            </div>
            <div style="max-width: 100%; text-align: center; margin: 0 auto;">
                <img src="https://i.ibb.co/3rXm1qM/Finger-print-fail.gif" alt="logoP" style="max-width: 100%; width: 150px; height: auto; vertical-align: middle;">
                <div style="font-size: 25px; font-family: 'Poppins'; margin-bottom: 5px; text-align: center; color: #0a0ae2;">
                    Code:
                </div>
                <div style="font-size: 25px; font-family: 'Poppins'; margin-bottom: 5px; text-align: center; color: #000087;">
                    {code}
                </div>
                <div style="font-size: 15px; font-family: 'Poppins'; margin-bottom: 5px; text-align: center; color: #000000;">
                    Code duration: 6 minutes
                </div>       
            </div>
            <div style="max-width: 100%; padding: 20px;">
                <div style="font-size: 15px; font-family: 'Poppins'; margin-bottom: 5px; text-align: center; color: #000000;">
                    This special code will be available for up to 6 minutes after this email is sent Date sent: {date}, so be sure to use it soon.
                </div>
            </div>
            <div style="max-width: 100%;">
                <img style="display:flex; max-width: 200px; background: url('https://i.ibb.co/PM60NdF/fondo2.png') center/contain no-repeat; height: auto; vertical-align: middle; margin: 0 auto; padding: 50px;" src="https://i.ibb.co/G9WLWdg/phone-security.png" alt="security">
            </div>
            <div style="max-width: 100%; padding: 20px;">
                <div style="font-size: 15px; font-family: 'Poppins'; margin-bottom: 5px; text-align: center; color: #000000;">
                    If you have not requested this password recovery, don't worry. Your security is our priority. Please contact our support team immediately to resolve any concerns.
                    <br>
                    <br>
                    <br>
                    Thank you for being part of the Working CampusLand family!
                </div>
            </div>
        </div>

        <div style="text-align: center; background-color: #000087; padding: 15px;">
            <a href="https://i.ibb.co/TPYL0K7/logo-campus-blanco.png" style="color: white; text-decoration: none; font-size: 25px; font-family: 'Poppins'; margin: 0 15px;">Learn more about campusland</a>
            <br>
            <a href="https://www.linkedin.com/company/campuslands/mycompany/" style="display: inline-block; margin: 10px; text-decoration: none; color: #ffffff; background-color: #E4E4DB; padding: 10px 10px; border-radius: 100%;">
                <img src="https://img.icons8.com/ios-filled/100/228BE6/linkedin--v1.png" alt="linkedin" style="max-width: 100%; width: 50px; height: auto; vertical-align: middle;">
            </a>
            
            <a href="https://web.facebook.com/Campuslands/?_rdc=1&_rdr" style="display: inline-block; margin: 10px; text-decoration: none; color: #ffffff; background-color: #E4E4DB; padding: 10px 10px; border-radius: 100%;">
                <img src="https://img.icons8.com/ios-filled/100/228BE6/facebook--v1.png" alt="facebook" style="max-width: 100%; width: 50px; height: auto; vertical-align: middle;">
            </a>
            
            <a href="https://www.instagram.com/campuslands/?hl=es" style="display: inline-block; margin: 10px; text-decoration: none; color: #ffffff; background-color: #E4E4DB; padding: 10px 10px; border-radius: 100%;">
                <img src="https://img.icons8.com/ios-filled/100/228BE6/instagram-new--v1.png" alt="instagram" style="max-width: 100%; width: 50px; height: auto; vertical-align: middle;">
            </a>

            <p style="margin-top: 20px; font-size: 12px; color: #b7b7b7;">© 2023 All rights reserved. <a href="https://iconos8.es" style="color: #b7b7b7; text-decoration: underline;">Icons provided by Iconos8</a>.</p>
        </div>
    </body>
</html>
