<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <title>Document</title>
        <style>
            @media only screen and (max-width: 600px) {
                .container {
                    flex-direction: column !important;
                }
                .image-container {
                    max-width: 100% !important;
                    margin-bottom: 10px !important;
                }
            }
        </style>
    </head>
    <body style="margin: 0; font-family: 'Roboto Mono', monospace;">
        <div style="text-align: center; background-color: #000087; padding: 15px;">
            <img src="https://i.ibb.co/TPYL0K7/logo-campus-blanco.png" alt="LogoCampus" style="max-width: 100%; width: 70px; height: auto; vertical-align: middle;">
            <a href="https://i.ibb.co/TPYL0K7/logo-campus-blanco.png" style="color: white; text-decoration: none; font-size: 35px; font-family: 'Poppins'; margin: 0 15px;">Working CampusLand</a>
        </div>
        
        <div style="position: relative; background: url('https://i.ibb.co/31hK6XN/maxresdefault.png') center/cover no-repeat; color: #ffffff; padding: 100px 0; text-align: center;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
            <div style="position: relative; z-index: 1;">
                <div style="font-size: 42px; margin-bottom: 20px;">Welcome</div>
                <div style="font-size: 24px;">to working campusland!</div>
            </div>
        </div>

        <div style="width: 100%; margin: 0 auto; background-color: #E4E4DB; padding-block: 20px;">
            <div style="max-width: 100%; background: url('https://i.ibb.co/RB6sg8t/fondo1.png') center/contain no-repeat;">
                <img style="display:flex; max-width: 200px; height: auto; vertical-align: middle; margin: 0 auto;" src="https://i.ibb.co/8mBzbD2/astronauta-Saludar.gif" alt="CamperSaludando">
            </div>
            <div style="max-width: 100%; padding: 20px;">
                <div style="font-size: 33px; font-family: 'Poppins'; font-weight: bold; margin-bottom: 10px; text-align: center; color: #000087;">Hello {nombre}!</div>
                <div style="font-size: 20px; text-align: center;">{TextoRoll}</div>
            </div>
        </div>

        {RolAccess}

        <div style="text-align: center; background-color: #000087; padding: 15px;">
            <a href="https://i.ibb.co/TPYL0K7/logo-campus-blanco.png" style="color: white; text-decoration: none; font-size: 25px; font-family: 'Poppins'; margin: 0 15px;">Learn more about campusland</a>
            <br>
            <a href="https://www.linkedin.com/company/campuslands/mycompany/" style="display: inline-block; margin: 10px; text-decoration: none; color: #ffffff; background-color: #E4E4DB; padding: 10px 10px; border-radius: 100%;">
                <img src="https://img.icons8.com/ios-filled/100/228BE6/linkedin--v1.png" alt="linkedin" style="max-width: 100%; width: 50px; height: auto; vertical-align: middle;">
            </a>
            
            <a href="https://web.facebook.com/Campuslands/?_rdc=1&_rdr" style="display: inline-block; margin: 10px; text-decoration: none; color: #ffffff; background-color: #E4E4DB; padding: 10px 10px; border-radius: 100%;">
                <img src="https://img.icons8.com/ios-filled/100/228BE6/facebook--v1.png" alt="facebook" style="max-width: 100%; width: 50px; height: auto; vertical-align: middle;">
            </a>
            
            <a href="https://www.instagram.com/campuslands/?hl=es" style="display: inline-block; margin: 10px; text-decoration: none; color: #ffffff; background-color: #E4E4DB; padding: 10px 10px; border-radius: 100%;">
                <img src="https://img.icons8.com/ios-filled/100/228BE6/instagram-new--v1.png" alt="instagram" style="max-width: 100%; width: 50px; height: auto; vertical-align: middle;">
            </a>

            <p style="margin-top: 20px; font-size: 12px; color: #b7b7b7;">© 2023 All rights reserved. <a href="https://iconos8.es" style="color: #b7b7b7; text-decoration: underline;">Icons provided by Iconos8</a>.</p>
        </div>
    </body>
</html>
