.cardCamer {
  position: relative;
  max-width: 350px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
}
.cardCamer .content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.cardCamer .content .img {
  margin-bottom: 30px;
}

.cardCamer .content .img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.cardCamer .content .nameCamper {
  font-family: 'Poppins', sans-serif; 
  font-size: 25px;
}

.cardCamer .content .location {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
}

.cardCamer .content .Info {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.cardCamer .content .Skills {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: #ccc;
}

.tag {
  list-style: none;
  padding: 0; 
  margin: 0; 
  overflow-y: auto; 
  max-height: 80px;
}

.tag__name {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 12px;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 40px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.ModalCamer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0031946a;
}
.ModalCamer .content {
  position: relative;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.ModalCamer .content .img {
  margin-bottom: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.ModalCamer .content .img img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}


.ModalCamer .content .nameCamper {
  font-family: 'Poppins', sans-serif; 
  font-size: 25px;
}

.ModalCamer .content .location {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
}

.ModalCamer .content .Info {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.details {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: black;
}

.property {
  color: #003194;
}
